#hero {
  padding-top: 150px;

  .hero--general {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__bg {
      position: absolute;
      right: 0;
      top: 0;

    }

    &__group {
      h1 {
        font-weight: 900;
        font-size: 36px;
        color: #000000;
      }

      ul {
        padding-top: 30px;
        li {
          font-weight: 400;
          font-size: 20px;
          color: #031530;
          padding: 10px 0;

          span {
            font-weight: 900;
          }
        }

      }

      button {
        font-weight: 600;
        margin-top: 50px;
        font-size: 24px;
        width: 264px;
        height: 64px;
        background: #0066FF;
        border-radius: 16px;
        color: #FFFFFF;
        border: none;
        transition: .4s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &__car {
      position: absolute;
      right: 0;
      animation: ani 1s alternate ease-in-out;
      @keyframes ani {
        0% {
          transform: translateX(1000px);
        }
      }
    }
  }
}