#cargo {
  .cargo--general {
    width: 1170px;
    height: 722px;
    border: 5px solid #000AFF;

    h1 {
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      color: #000000;

      span {
        color: #000AFF;
      }
    }

    &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &--group {
        padding: 30px 0;
        &__line {
          width: 606px;
          height: 0;
          border: 1px solid #000000;
          background: #000;
        }
        input {
          border: none;
          outline: none;
          margin-left: 250px;
        }
      }
    }
    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      span {
        color: #000AFF;
      }
    }
    &__title {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 80px 0;
      h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      width: 878px;
      height: 64px;
      border: 2px solid #000000;
      border-radius: 11px;
      margin-left: 150px;
    }
    &__btn {
      width: 381px;
      height: 59px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;

      background: #000AFF;
      color: #FFFFFF;
      border: none;
      margin-left: 400px;
      margin-top: 50px;
    }
  }
}